body {
  font: 13px/140% Arial, sans-serif;
  background: black;
  color: white;
  overflow: hidden;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: none;
}

ul {
  padding: 0 0 0 20px;
}

h1 {
  font: bold 30px/30px;
  text-align: center;
}

h2 {
  font: bold italic 17px/17px;
  padding-top: 10px;
}

small {
  display: block;
  font-size: 11px;
  line-height: 15px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#help {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 280px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: auto;
  background-color: #ffffff20;
  backdrop-filter: blur(10px);
  /* Desable select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* End desable select */
}

#help-content {

  margin-right: 20px;
  margin-left: 20px;
}

#loading {
  position: absolute;
  left: 0;
  top: 50%;
  right: 300px;
  text-align: center;
  margin-top: -8px;
}

@media (max-width: 600px) {
  small {
    font-size: 8px;
    line-height: 10px;
  }

  #help {
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}